* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background: #282e34;

}

.logo {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;

}

.nav-links ul {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.resButton {
  display: none;
  cursor: pointer;
}

.resButton div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.title-font {
  font-size: 320%;
  font-family: "Michroma", "serif";
  position: absolute;
  top: 45%;
  left: 23%;
  color: white;
}

.coverPage {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: white rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(200%);
}

.coverPageText {
  color: white;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.backgroundImg, .backgroundImg1, .backgroundImg2, .backgroundImg3 {
  position: relative;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  background-attachment: fixed;
}

.backgroundImg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background2.jpg");
  min-height: 400px;
}

.backgroundImg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background3.jpeg");
  min-height: 400px;
}

.backgroundImg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background4.jpg");
  min-height: 400px;
}

.main-body {
  font-family: "Michroma", "serif";
}

.main-code{ 
  font-size: 50px;
}

.about{
  color: white;
  font-size: 15px;
  text-align: center;
  min-height: 60px;
}

.skillText {
  font-size: 15px;
  color: white;
}

.subSkillText {
  float: right;
  color: white;
}

.progressContainers {
  min-height: 240px;
}

.progressBars {
  width: 40%;
}

.field {
  width: 30%;
}

.aboutPage {
  color: white;
}

.swiper-container { 
    height:500px;
    width: 700px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  background-position: center;
  width: 650px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 650px;
  height: 500px;
}

.hero-footer {
  text-align: center;
}

.text2 {
  color: white;
  font-size: 25px;
}

.section-grey {
  background-color: #282e34;
}

#textArea {
  width: 572px;
}

@media(max-width: 568px){
  .backgroundImg, .backgroundImg1, .backgroundImg2, .backgroundImg3{
    background-attachment: scroll;
  }
}

@media screen and (max-width:1024px){
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px; 
    height: 92vh;
    top: 8vh;
    background: #282e34;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .resButton {
    display: block;
  }

  .nav-active{
    transform: translateX(0%);
  }
}

@keyframes navFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}