* {
  box-sizing: border-box;
}

.hero-specs {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-transparent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-body {
  font-family: "Michroma", "serif";
}
.title-font {
  font-size: 320%;
  font-family: "Michroma", "serif";
}

.main-code{ 
  font-size: 50px;
}

.about{
  font-size: 15px;
}

.skillText {
  font-size: 15px;
}

.subSkillText {
  float: right;
}

.progressBars {
  width: 40%;
}

.field {
  width: 30%;
}
/* portfolio project images */
.discord {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.ohno {
  width: 760px;
}

.yikes {
  width: 760px;
  height: 270px;
  padding-top: 10px;
}

.subBtn {
  top: 8px;
}

#topBtn {
  float: right;
  top: -2px;
  left: -5px; 
}

.hero-footer {
  text-align: center;
}

@media only screen and (max-device-width: 1366px) {
  .hero-specs {
    background-attachment: scroll;
  }
}