* {
  box-sizing: border-box;
}

.hero-specs {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-transparent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backgroundImg {
  background-image: url("/images/background.jpg");
  min-height: 100%;
}

.backgroundImg1 {
  background-image: url("/images/background2.jpg");
  min-height: 400px;
}

.backgroundImg2 {
  background-image: url("/images/background3.jpeg");
  min-height: 400px;
}

.backgroundImg3 {
  background-image: url("/images/background4.jpg");
  min-height: 400px;
}

.main-body {
  font-family: "Michroma", "serif";
}

.title-font {
  font-size: 320%;
  font-family: "Michroma", "serif";
}

.about {
  color: white;
}

.main-code{ 
  font-size: 50px;
}

.about{
  font-size: 15px;
  text-align: center;
  min-height: 60px;
}


.skillText {
  font-size: 15px;
  color: white;
}

.subSkillText {
  float: right;
  color: white;
}

.progressContainers {
  min-height: 240px;
}

.progressBars {
  width: 40%;
}

.field {
  width: 30%;
}

.tileBorder {
  min-height: 760px;
}
/* portfolio project images */
.discord {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ohno {
  width: 760px;
}

.yikes {
  width: 760px;
  height: 270px;
  padding-top: 10px;
}

.hero-footer {
  text-align: center;
}

.text2 {
  color: white;
}

.section-grey {
  background-color: #282e34;
}

#textArea {
  width: 572px;
}

@media only screen and (max-device-width: 1366px) {
  .hero-specs {
    background-attachment: scroll;
  }
}

@media(max-width: 568px){
  .backgroundImg, .backgroundImg1, .backgroundImg2, .backgroundImg3{
    background-attachment: scroll;
  }
}